.classForTask1{
    background-color: wheat;
}
.classForTask2{
    background-color: wheat;
}
.classForTask3{
    background-color: wheat;
}
.classForTask4{
    background-color: wheat;
}
.classForTask5{
    background-color: wheat;
}
.classForTask6{
    background-color: wheat;
}
.classForTask7{
    background-color: wheat;
}
.classForTask8{
    background-color: wheat;
}
.classForTask9{
    background-color: wheat;
}